# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fnbcixjcnvsokpahadig.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuYmNpeGpjbnZzb2twYWhhZGlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NzU1MTgsImV4cCI6MjA3OTA1MTUxOH0.aS21zxMmdl2nFMB3VtAe1trHanvac4NQ5cyhBDZ6XVY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuYmNpeGpjbnZzb2twYWhhZGlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzQ3NTUxOCwiZXhwIjoyMDc5MDUxNTE4fQ.VTILDl-rnc6ek3nEkfTtuKgAxLuN8w4kOHZiJg-pjHg
